body {
    margin: 0 5%;
    font-family: 'Source Sans Pro', sans-serif;
    display:block;
    background-color: #69706D;
}

.boxtitle {
    font-family: 'Source Sans Pro', sans-serif;
    
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 40px;
    margin: 5px 0px;
    
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin: 5px 0px;
    
    
}


header {
    margin-bottom: 10px;
}

div {
    display: block;
        
}

.contentbox {
    border: 1px grey solid;
    padding: 10px;
    width: 100%;
    display: block;
    margin: 10px auto;
    
}
   

.colourbox {
    width: 100%;
    text-align: center;
    border: 0;
    position: relative;
    
}

.colourbox p {
    text-align: center;
    padding: 1%;
    margin: 0;
    font-size: 15px;
   
}


.colourbox-slate-grey {
    border: 0.11%;
    width: 33%;
    background-color: #98A29D;
    display: inline-block;
    }

.colourbox-fresh-turquoise {
    border: 0.11%;
    width: 33%;
    color: black;
    background-color: #99F0C5;
    display: inline-block;
    
}

.colourbox-light-blue {
    border: 0.11%;
    width: 33%;
    color: black;
    background-color: #D1DED7;
    display: inline-block
    
}

.textbox {
    width: 33.3%;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

.textbox p {
    font-size: 15px;
    text-align: left;
    margin: 0;
}